* {
	border: none;
    font-family: "Fira Code, JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: rgba(0, 0, 0, 0.37);
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}
#tags {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #161320;
	transition: none;
}

#tags button {
	transition: none;
	color: #e4e4e4;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
	border-radius: 10;
}

#tags button.occupied {
	transition: none;
	color: #F28FAD;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
	color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
}

#tags button.focused:hover {
    color: #E8A2AF;
}
#workspaces button {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: .3s ease;
	color: #eae7f5;
	background: #202020;
}
#workspaces button.active {
	background: #294e92;
	background: #96242f;
}
#workspaces button:hover {
	background: #3b3b3b;
	transition: .3s ease;
}

#network {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}

#pulseaudio {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}
#pulseaudio.muted {
	color: #eae7f5;
	background: #a53742;
}

#pulseaudio.loud {
	color: #dad8e6;
	background: #c1282d;
}

#battery {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}

#battery.charging, #battery.plugged {
	color: white;
	background: #294e92;
	background: #96242f;
}

#battery.critical:not(.charging) {
    color: #eae7f5;
	background: #202020;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #a83a45;
        color: #eae7f5;
    }
}

#backlight {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}
#clock {
	margin: 6px 0px 6px 8px;
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
	/*background: #1A1826;*/
}

#memory {
	margin: 6px 0px 6px 8px;
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}
#cpu {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}

#custom-wallpaper {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}

#custom-updates {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}

#custom-music {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}

#custom-lock {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	background: #202020;
}
