* {
	border: none;
    font-family: "Fira Code, JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0.8);
}

window#waybar.hidden {
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}

.modules-right {
	margin-top: 6px;
	margin-right: 8px;
	margin-bottom: 6px;
	border-radius: 10px;
}

#workspaces button,
#tags button,
#network,
#pulseaudio,
#cava,
#battery,
#backlight,
#clock,
#memory,
#cpu,
#tray,
#custom-launcher,
#custom-power,
#custom-wallpaper,
#custom-updates,
#custom-music,
#custom-aqi,
#custom-weather,
#custom-lock,
#window {
	color: #eae7f5;
}

#workspaces {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 6px;
}

#workspaces button {
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 10px;
	transition: .3s ease;
	color: #888888;
	margin-left: 3px;
	border: 1px solid transparent;
}

#workspaces button.active {
	color: white;
}
#workspaces button:hover {
	background: rgba(255, 255, 255, 0.04);
	transition: .3s ease;
    border: 1px solid #6a1e42;
    border: 1px solid #646464;
}

window#waybar.empty #workspaces button.active {
    background: transparent;
    border: 1px solid #646464;
}
#network {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
}

#pulseaudio {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 4px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	border-right: none;
	border-radius: 10px 0px 0px 10px;
}
#pulseaudio.muted {
	color: #eae7f5;
	background: #96242f;
}

#pulseaudio.loud {
	color: #dad8e6;
	background: #c1282d;
}

#pulseaudio-slider {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 0px;
	padding-left: 10px;
	border-left: none;
	border-radius: 0px 10px 10px 0px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 4px;
    min-width: 100px;
    border-radius: 5px;
    background-color: black;
	border: 1px solid #252525;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: #bbbbbb;
}

#cava {
    margin-left: 8px;
    transition: none;
    color: #eae7f5;
}

#battery {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-right: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
}

#battery.charging, #battery.plugged {
	color: white;
}

#battery.critical:not(.charging) {
    color: #eae7f5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #a83a45;
        color: #eae7f5;
    }
}

#backlight {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	
}
#clock {
	margin: 6px 0px 6px 8px;
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
}

#memory {
	margin: 6px 0px 6px 8px;
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	
}
#cpu {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
	
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
}

#custom-wallpaper {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
}

#custom-updates {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
}

#custom-music {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
}
#custom-aqi {
	margin-left: 8px;
    margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
}
#custom-weather {
    margin-top: 6px;
	margin-left: 8px;
    margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
}
#custom-lock {
	margin-top: 6px;
    margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #eae7f5;
}
#window {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    transition: none;
	color: #eae7f5;
}

window#waybar.empty, window#waybar.floating {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s;
}
